---
layout: default
---
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
    <h1 class="mb-10">
      Welcome to
      <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
        {{title}}
      </strong>
    </h1>

    <p>
      {{content | safe}}
    </p>

    <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4 my-8 lg:mx-0">
        {% set meetingslist = collections.meeting %}

        {% for item in meetingslist | reverse %}
            <a href="{{item.url}}" class="border rounded border-gray-200 hover:border-purple-400">
                <div class="m-4">
                    <h3>{{item.data.title}} →</h3>
                </div>
                <img src="{{item.data.preview}}">
                <div class="m-4">
                    <div class="my-2 flex">
                        <span>{{item.data.date | readableDate }}</span>
                        <span class="flex-1 text-right">{{item.data.location | safe }}</span>
                    </div>
                    <div class="prose max-w-none">
                      {{item.data.abstract | markdownify | safe}}
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
  </div>
