@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  @apply font-sans
}

nav ul {
  margin-right: -1.75rem;
}

h1 {
  @apply text-4xl mb-3 lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

svg {
  width: inherit;
}

path {
  fill: theme('colors.primary') !important;
}

* {
  shape-rendering: auto;
}